.app-page-title {
    padding: 10px 30px !important;
    margin: -30px -30px 0;
}
.action-icon a{
    padding:8px;
    font-size:18px;
    border-radius: 5px;
}
.action-icon a:hover{
    background:#f5f5f5;
}
